.button__add{
    width: 152px;
    height: 3rem;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border: none;
    align-items: center;
}