.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    .navigation__item{
        list-style: none;
        a{
            font-size: 20px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        
    }
}
.active{
    border-bottom: 2px solid black;
}