.products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    .product{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        height: 10rem;
        .product__image{
            height: 100%;
        }
        .product__title{
            font-weight: bold;
            font-size: 20px;
        }
    }
}